<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex justify-content-between">
        <div class="contact-info">
            <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
            <i class="icofont-phone"></i> +1 5589 55488 55
        </div>
        <div class="social-links">
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="#" class="skype"><i class="icofont-skype"></i></a>
            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </div>
    </div>
</section>
<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>Eterna</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/Eterna/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        
                

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="~/Home/Index">Anasayfa</a></li>

                        <li class="drop-down">
                            <a href="~/Home/Products">Ürünler</a>
                            <ul>
                                <li><a href="~/Content/Eterna/Eterna/portfolio-4cols.html">Portfolio 4 columns</a></li>
                                <li><a href="~/Content/Eterna/Eterna/portfolio-detail.html">Portfolio detail</a></li>


                            </ul>
                        </li>

                        <li><a href="~/Home/Projects">Projeler</a></li>
                        <li><a href="~/Home/About">Hakkımızda</a></li>
                        <li><a href="~/Home/Contact">İletişim</a></li>

                    </ul>
                </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
