<div class="camera_wrap" id="camera-slide">

    <!-- slide 1 here -->
    <div data-src="Content/Eterna/Eterna/img/slides/camera/slide1/img1.jpg">
        <div class="camera_caption fadeFromLeft">
        </div>
    </div>

    <!-- slide 2 here -->
    <div data-src="Content/Eterna/Eterna/img/slides/camera/slide2/img1.jpg">
        <div class="camera_caption fadeFromLeft">

        </div>
    </div>

    <!-- slide 3 here -->
    <div data-src="Content/Eterna/Eterna/img/slides/camera/slide2/img1.jpg">
        <div class="camera_caption fadeFromLeft">
        </div>
    </div>

</div>
