<div class="container">
    <div class="row">
        <div class="span12 aligncenter">

            <h3 class="title">Work<strong>Partners</strong></h3>
            <div class="blankline30"></div>
            <div class="row">
                <div class="span3">
                    <ul class="bxslider">
                        <li>
                            <a href="#" title="title"><img src="~/Content/Eterna/Eterna/img/dummies/works/1.jpg" alt="" /></a>

                        </li>
                    </ul>

                </div>
                <div class="span3">
                    <ul class="bxslider">
                        <li>
                            <a href="#" title="title"><img src="~/Content/Eterna/Eterna/img/dummies/works/2.jpg" alt="" /></a>

                        </li>
                    </ul>

                </div>
                <div class="span3">
                    <ul class="bxslider">
                        <li>
                            <a href="#" title="title"><img src="~/Content/Eterna/Eterna/img/dummies/works/3.jpg" alt="" /></a>

                        </li>
                    </ul>

                </div>
                <div class="span3">
                    <ul class="bxslider">
                        <li>
                            <a href="#" title="title"><img src="~/Content/Eterna/Eterna/img/dummies/works/4.jpg" alt="" /></a>

                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
