
<div class="container">

    <div class="row">
        <div class="span6">
            <img src="~/Content/Eterna/Eterna/img/lp/screen-1.png" alt="" class="flyLeft" />
        </div>
        <div class="span6">
            <div class="flyRight">
                <h4><strong><span class="colored">Retina ready</span> icons</strong></h4>
                <p>
                    Lorem ipsum dolor sit amet, oporteat reformidans mei ut, sea simul intellegat ad. Accusata forensibus sed ne. Eu quas nemore aliquid eam. Lorem munere graeco ad eum.
                </p>
                <p>
                    Est ne prima voluptatum, ea nam scripta invidunt petentium. Has ad summo aeterno maiorum. Partiendo scriptorem pri ad, pro choro sadipscing ne, ad usu tempor deleniti. Esse animal qualisque qui id. Sea habemus quaestio delicata an
                </p>
                @*<div class="blankline"></div>
                <i class="ico icon-circled icon-bgprimary icon-code icon-3x"></i>
                <i class="ico icon-circled icon-bgsuccess icon-beaker icon-3x"></i>
                <i class="ico icon-circled icon-bgwarning icon-rocket icon-3x"></i>
                <i class="ico icon-circled icon-bgdanger icon-cut icon-3x"></i>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="solidline"></div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="flyLeft">
                <h4><strong><span class="colored">Responsive</span> design</strong></h4>
                <p>
                    Lorem ipsum dolor sit amet, oporteat reformidans mei ut, sea simul intellegat ad. Accusata forensibus sed ne. Eu quas nemore aliquid eam. Lorem munere graeco ad eum.
                </p>
                <p>
                    Est ne prima voluptatum, ea nam scripta invidunt petentium. Has ad summo aeterno maiorum. Partiendo scriptorem pri ad, pro choro sadipscing ne, ad usu tempor deleniti. Esse animal qualisque qui id. Sea habemus quaestio delicata an
                </p>
                @*<div class="blankline"></div>
                <p><a href="#" class="btn btn-success btn-medium">Learn more</a> <a href="#" class="btn btn-theme btn-medium">Live preview</a></p>*@
            </div>
        </div>
        <div class="span6">
            <img src="~/Content/Eterna/Eterna/img/lp/imac.png" alt="" class="flyRight" />
        </div>

    </div>
    <div class="row">
        <div class="span12">
            <div class="solidline"></div>
        </div>
    </div>



</div>
