@model ytk_mvc.Entity.ContactMessage
@{
    ViewBag.Title = "Contact";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="/">Anasayfa</a></li>
            <li>İletişim</li>
        </ol>
        <h2>İletişim</h2>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Adres</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email</h3>
                    <p>contact@example.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Telefon</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <form action="~/Home/Contact" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="Name" class="form-control" id="name" placeholder="İsminiz" data-rule="minlen:3" data-msg="Lütfen isminizi girin" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="Email" id="email" placeholder="E-mail adresiniz" data-rule="email" data-msg="Lütfen e-mail adresinizi girin" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="Subject" id="subject" placeholder="Konu" data-rule="minlen:4" data-msg="Lütfen mesajınızın konusunu girin" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Lütfen mesajınızı girin" placeholder="Mesajınız"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Gönderiliyor</div>
                            @*<div class="error-message">Mesajınız iletilirken bir hata oluştu!</div>*@
                            <div class="sent-message">Mesajınız iletildi. Teşekkürler!</div>
                        </div>
                        <div class="text-center"><button type="submit">Gönder</button></div>
                    </form>

                
            </div>
        </div>

    </div>
</section><!-- End Contact Section -->