@using ytk_mvc.Entity;
@model Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/Home/Projects">Projeler</a></li>
            <li>Proje</li>
        </ol>
        <h2>Proje</h2>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row">



            <div class="col-lg-8">
                <h2 class="portfolio-title">Proje Detayları</h2>
                <div class="owl-carousel portfolio-details-carousel">



                    @foreach (var image in Model.ImageFolders.Images)
                    {
                        <img src="~/Upload/img/@Model.ImageFolders.Name/@image.ImageName" class="img-fluid" alt="" height="350" width="350">

                    }

                </div>
            </div>
            @{
                <div class="col-lg-4 portfolio-info">
                    <h3>Proje Bilgileri</h3>
                    <ul>
                        <li><strong>Categori</strong>: @Model.Categories.Name</li>
                        <li><strong>Müşteri</strong>: @Model.Clients.CompanyName</li>
                        <li><strong>Tarih</strong>: @Model.Date.ToShortDateString()</li>
                    </ul>

                    <p>
                        @Model.Description
                    </p>
                </div>
            }
        </div>

    </div>
</section><!-- End Portfolio Details Section -->
