@{
    ViewBag.Title = "Home Page";
}


<section id="hero">
    <!-- slideshow start here -->
    @Html.Partial("_MainSlider")
    <!-- slideshow end here -->
</section>


<section id="featured" class="featured">
    @Html.Partial("_WorkTitles")

</section>

<section id="about" class="about">
    @Html.Partial("_Workİnfo")

</section>

<section id="clients" class="clients">
    @Html.Partial("_WorkPartners")
</section>


